<!DOCTYPE html>
<html>
<head>
  <title>Quotes</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="nav">
    <% if current_user %>
      <%= link_to "My Quotes", user_quotes_path(current_user) %>
      <%= link_to "Submit New Quote", new_quote_path %>
    <% end %>

    <%= form_tag search_path do %>
      <%= label_tag :search %>
      <%= text_field_tag :search %>
    <% end %>
  </div>

<%= yield %>

</body>
</html>
